@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}



body {
    background: #FFFFFF;
}

.app-header,
.chats .message,
.chats .message .message_content,
.prompt__form {
    margin: 0 auto;
    max-width: 824px;
}

body.hide-header .app-header {
    margin: 0;
    display: none;

}

.navbar {
    display: none;
}

.show-navbar {
    display: flex;
}

.media-header {
    align-items: center;
    padding: 6px;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.4rem;
    background: linear-gradient(to right, #4a90e2, #a355b9, #ff6b6b);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.app-header {
    margin-top: 25vh;
}

.heading {
    width: fit-content;
    background: linear-gradient(to right, #4a90e2, #a355b9, #ff6b6b);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
    font-weight: 600;
}

.sub-heading {
    font-size: 4rem;
    font-weight: 600;
}

.prompt {
    position: fixed;
    background: #FFFFFF;
    background: #FFFFFF;
    z-index: 1000;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 1rem;
}

.prompt__input-wrapper {
    width: 100%;
    height: 4rem;
    display: flex;
    position: relative;
}

.prompt__form-input {
    height: 100%;
    width: 100%;
    border: none;
    resize: none;
    font-size: 1rem;
    padding: 1rem 1.75rem;
    padding-right: 3.5rem;
    border-radius: 100px;
    background: #F0F4F9;
    transition: background 0.3s ease;
}

.prompt__form-input:focus {
    background-color: #E9EEF6;
}

.prompt__form-input:focus~.prompt__form-button:hover {
    background-color: #E1E6ED;
}



.reset_button {
    font-size: 1.4rem;
    border: none;
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    right: 2rem;
    top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.prompt__form-button {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    transition: all 0.3s ease;

}



.prompt__disclaim {
    text-align: center;
    font-size: 0.85rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.fade-out--overlay {
    position: fixed;
    bottom: 10rem;
    left: 0;
    width: 100%;
    height: 2rem;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    pointer-events: none;
    z-index: 999;
}

.chats {
    padding: 10rem 1rem 10rem;
    max-height: 100%;
    overflow-y: auto;
    scrollbar-color: #999 transparent;
}

.chats .message--incoming {
    margin-top: 1.5 rem;
    margin-bottom: 1rem;
    /*  < --- incoming message dialogue box --- >
    background: #edf5ff;
    padding: 1.5rem 1.5rem 1.5rem;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center; */
}

.chats .message--outgoing {
    background: #E9EEF6;
    padding: 0rem 1rem 0.1rem;
    margin-left: 20rem;
    margin-bottom: 1.5rem;
    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    display: inline-block;
    align-items: center;
}



.chats .message--outgoing:not(:first-child) {
    margin-top: 30px;
}

.chats .message__content {
    display: flex;
    align-items: flex-start;
    gap: 1.5 rem;
    width: 100%;
    margin-top: 1rem;
}

.chats .message__text {

    color: #000;
    white-space: pre-wrap;


}

.hide {
    display: none !important;
}

.chats .message-error .message__text {
    color: #e55865;
}

.chats .message--loading .message__text {
    display: none;
}




p {
    margin-bottom: 10px;
}

/* ul {
    list-style: disc inside;
    margin-left: 20px;
}

ol {
    margin-left: 40px;
}

strong {
    font-weight: bold;
}

em {
    font-size: italic;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

th,
td {
    border: 1px solid;
    text-align: left;
    padding: 10px;
} */






.hljs {
    background-color: var(--secondary-color);
}


/* < -------------- typing animation ----------------> */
.typing-loader span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 50%;
    margin: 0 2px;
    animation: bounce 1.4s infinite ease-in-out;
}

.typing-loader span:nth-child(2) {
    animation-delay: 0.2s;
}

.typing-loader span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {

    0%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }
}

@media screen and (max-width:980px) {

    .app-header {
        padding: 0 2rem;
    }

    .heading {
        font-size: 2.7rem;
    }

    .sub-heading {
        font-size: 1.5rem;
    }

    .message {
        padding: 0 2 rem;
    }

    .prompt__disclaim {
        font-size: 0.8rem;
    }

    .chats .message--outgoing {
        margin-left: 0;
    }

    .reset_button {
        right: 0.5rem;
    }
}